streamlit==1.29.0
sentence-transformers==2.2.2
faiss-cpu==1.7.4
pypdf==3.17.0
python-dotenv==1.0.0
transformers==4.35.2
torch==2.1.1
tiktoken==0.7.0
openai==1.40.0
gdown>=4.7.1

langchain==0.2.12
langchain-core==0.2.27
langchain-community==0.2.11
langchain-openai==0.1.14


# streamlit-cloud-rebuild





